data/** export-ignore
dist/** export-ignore
.git/** export-ignore
synology/package/INFO text eol=lf
synology/package/conf/* text eol=lf
synology/package/scripts/* text eol=lf
*.sh text eol=lf
Dockerfile text eol=lf
docker/*.conf text eol=lf
docker/*.ini text eol=lf
app/sdks/archiveLib/bin/data.bin -text
